@use "../variables" as *;

@mixin icon($service, $color) {
  width: $link-size;
  max-width: 4rem;
  height: $link-size;
  max-height: 4rem;
  margin: 0 ($link-size / 2);
  background-color: $color;
  mask-image: url("../../../public/icon/" + $service + ".svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 75%;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;

  @each $brand, $info in $brand-map {
    &.#{$brand} {
      background-color: $base-color;
      div {
        @include icon($brand, map-get($info, "color"));
      }
    }
  }
}
