section
  h1 プログラミング言語
  ul
    li Java
    li.like Kotlin
    li.like Scala
    li C#
    li.beginner.like Rust
    li HTML
    li CSS
    li JavaScript
    li SCSS
    li.like Stylus
    li.like TypeScript
    li.beginner Python
    li.beginner Go
    li ShellScript
    li PowerShell
    li SQL
section
  h1 ライブラリ, フレームワーク
  ul
    li JavaFX, TornadoFX, ScalaFX
    li Spring Boot
    li.beginner.like Akka http
    li React.js (React Hooks)
    li.beginner Next.js
section
  h1 クラウドサービス
  ul
    li Amazon Web Service - EC2無料枠
    li Google Cloud Platform - GCE無料枠
