section
  h1 プログラミング言語
  ul
    li Java
    li.like Kotlin
    li.like Scala
    li C#
    li.beginner C
    li.beginner C++
    li.beginner.like Rust
    li HTML
    li CSS
    li JavaScript
    li SCSS
    li.like Stylus
    li.like TypeScript
    li.beginner Python
    li.beginner Ruby
    li.beginner Go
    li ShellScript
    li Batch
    li PowerShell
    li SQL
section
  h1 ライブラリ, フレームワーク
  ul
    li JavaFX, TornadoFX, ScalaFX
    li Spring Boot
    li.beginner.like Akka http
    li.beginner LWJGL
    li React.js (React Hooks)
    li.beginner Next.js
section
  h1 Node Package
  ul
    li.like Parcel
    li.beginner Webpack
section
  h1 サービス
  ul
    li Amazon Web Service - EC2無料枠
    li Google Cloud Platform - GCE無料枠
    li Google App Script

