h1 ツール類
section 
  h1 テキストエディタ, IDE 
  section 
    h1 IntelliJ IDEA 
    p JVM系言語ならこれを使う
  section 
    h1 Eclipse
    p 必要に応じて使った
  section
    h1 CLion 
    p Rust書くのに使った
  section 
    h1 VSCode 
    p 他の言語はとりあえずこれ WebとかNode.jsとか
  section 
    h1 Vim 
    p 一応使える CLIならこれ
section 
  h1 ビルドツール
  section 
    h1 Gradle 
    p Mavenよりこれ でもGroovyはよく知らない
  section 
    h1 Maven 
    p 使ったことはあるけど詳しいことは知らない
  section 
    h1 Make 
    p 複雑な記述はしたことがない
section 
  h1 バージョン管理
  section 
    h1 Git / GitHub
    p GitHub以外のリモートリポジトリは触ったことがない
section 
  h1 CI, CD 
  section 
    h1 GitHub Actions 
    p テスト走らせるとか、tagをトリガーにオートリリースとか
section 
  h1 OS 
  section 
    h1 Server Side
    section 
      h1 Ubuntu Server 
      p サーバーを建てるときはとりあえずこれを選ぶ
    section 
      h1 CentOS
      p 6か7を授業で触った
  section 
    h1 Client Side
    section 
      h1 Windows10 
      p メインPC ゲームが動くので……
    section 
      h1 MacOS 
      p 最近はこれの乗ったM1機を開発に用いている
    section 
      h1 Ubuntu 
      p Linux系で普段使いしたことがあるのはこれだけ
section 
  h1 コミュニケーションツール
  section 
    h1 Slack 
  section 
    h1 Zoom 
  section 
    h1 Microsoft Teams
  section 
    h1 Discord 
section 
  h1 プロジェクト管理ツール
  section 
    h1 GitHub 
    p TODOや検討事項をIssueの形で列挙して状態を管理できるのでこれもプロジェクト管理ツール
  section 
    h1 Redmine 
    p 授業で少しだけ触った チケット管理
