section
  h1 テキストエディタ, IDE 
  ul
    li.like IntelliJ IDEA
    li Eclipse
    li.like CLion
    li.beginner Visual Studio
    li VSCode
    li Vim
    li.beginner Unity
section
  h1 ビルドツール, 環境
  ul
    li Gradle
    li.beginner Maven
    li Make
    li Node.js
    li.beginner Deno
section
  h1 バージョン管理
  ul
    li Git / GitHub
section
  h1 CI, CD
  ul
    li GitHub Actions
section
  h1 OS
  ul
    li CentOS
    li Windows10
    li MacOS
    li Ubuntu
    li Ubuntu Server
    li.beginner Docker
section 
  h1 ミドルウェア
  ul
    li H2DB
    li.beginner Oracle Database
    li.beginner PostgreSQL
    li.beginner Tomcat
    li Apache HTTP Server
section
  h1 プロジェクト管理ツール
  ul
    li GitHub
    li.beginner Redmine
section
  h1 コミュニケーションツール
  ul
    li Slack
    li Zoom
    li Microsoft Teams
