import {
  Component,
} from "solid-js";

import styles from "./{{properCase name}}.module.styl";

export const {{properCase name}}: Component = (props) => {

  return (
    <div
      class={ styles.{{properCase name}} }
    >
      
    </div>
  );
};
