.Timeline
  content ''
  position relative
  width 100%
  height 100%

  overflow-x hidden
  overflow-y hidden
  user-select none

  display grid
  grid-template \
    "main right" 1fr \
    "bottom map" auto \
    / 1fr auto

.Content
  --cell-size-x 128px
  --cell-size-y 128px
  --grid-color #808080
  content ''
  grid-area main

  overflow hidden

  background-image \
    repeating-linear-gradient(var(--grid-color) 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, var(--grid-color) 0 1px, transparent 1px 100%)
  background-size \
    calc(var(--cell-size-x) * var(--camera-width)) \
    calc(var(--cell-size-y) * var(--camera-height))
  background-position \
    calc(1px * var(--camera-x)) \
    calc(1px * var(--camera-y))

.VerticalScroller
  content ''
  grid-area right
  width 4em

  background-color rgba(160, 255, 255, .4)

.HorizontalScroller
  content ''
  grid-area bottom
  height 4em

  background-color rgba(255, 160, 255, .4)

.MiniMap
  content ''
  grid-area map
  width 4em
  height 4em

  background-color rgba(255, 255, 160, .4)

.Layers
  content ''
  pointer-events none
  position absolute
  top calc(var(--camera-y) * 1px)
  left calc(var(--camera-x) * 1px)

  transform \
    scaleX(var(--camera-scale-x)) \
    scaleY(var(--camera-scale-y))

.Layer
  content ''
  height 1.8em

  &:nth-child(odd)
    background-color rgba(255, 255, 255, .05)
