.MiniMap
  content ''
  position relative

.Thumb
  --max-y calc(100% - (100% * var(--camera-ratio-y)))
  --max-x calc(100% - (100% * var(--camera-ratio-x)))
  content ''
  position absolute
  top 0
  left 0
  width 100%
  height 100%

  background-color rgba(160, 0, 255, .4)

  .Map &
  .Vertical &
    top clamp(0%, calc(var(--max-y) * var(--camera-progress-y)), var(--max-y))
    height calc(100% * var(--camera-ratio-y))
  .Map &
  .Horizontal &
    left clamp(0%, calc(var(--max-x) * var(--camera-progress-x)), var(--max-x))
    width calc(100% * var(--camera-ratio-x))
