.ScrollBar
  --size 4em
  content ''

  display flex

  &.Vertical
    height 100%
    flex-direction column
  &.Horizontal
    width 100%
    flex-direction row

.ThumbContainer
  content ''
  position relative
  width 100%
  height 100%

.Thumb
  content ''
  position absolute
  top 0
  left 0
  width 100%
  height 100%

  background-color rgba(160, 0, 255, .4)

  .Vertical &
    top clamp(0%, calc(100% * var(--camera-progress-y)), 100%)
    height calc(100% * var(--camera-ratio-y))
  .Horizontal &
    left clamp(0%, calc(100% * var(--camera-progress-x)), 100%)
    width calc(100% * var(--camera-ratio-x))

.ThumbMargin
  content ''
  width 100%
  height 100%
  .Vertical &
    height calc(100% * var(--camera-ratio-y))
  .Horizontal &
    width calc(100% * var(--camera-ratio-x))
