$brand-map: (
  github: (
    color: #211f1f,
  ),
  niconico: (
    color: #000000,
  ),
  soundcloud: (
    color: #fe5000,
  ),
  twitter: (
    color: #1da1f2,
  ),
  youtube: (
    color: #ff0000,
  ),
);

$base-color: #fff;
$main-color: #000;
$link-size: #{100 / (length($brand-map) + 4)} + "vw";
$icon-size: 50%;
