$brand-map: (
  github: (
    color: #211f1f,
  ),
  niconico: (
    color: #000000,
  ),
  soundcloud: (
    color: #fe5000,
  ),
  twitter: (
    color: #1da1f2,
  ),
  youtube: (
    color: #ff0000,
  ),
  steam: (
    color: #002e3f,
  ),
);

$base-color: #eeebdd;
$main-color: #141212;
$em-color: #cc3232;
$rem-base: 3.75;
$max-rem: 100rem / $rem-base;
$link-size: $max-rem / (length($brand-map) + 1);
