$brand-map: (
  github: (
    color: #211f1f,
  ),
  niconico: (
    color: #000000,
  ),
  soundcloud: (
    color: #fe5000,
  ),
  twitter: (
    color: #1da1f2,
  ),
  youtube: (
    color: #ff0000,
  ),
);

$base-color: #eeebdd;
$main-color: #141212;
$em-color: #cc3232;
$link-size: 100vw / (length($brand-map) + 6);
