.Clavier
  content ''

.Control
  content ''

  display flex

.KeyBoard
  content ''

  display flex
  flex-direction column
  align-items center

.Key
  content ''
  width 1.5em
  aspect-ratio 1 / 1

  background var(--base-color)
  color var(--main-color)
  border-radius 50%
  border solid 1px

  text-align center
  &.OnPress
    background var(--main-color)
    color var(--base-color)
