h1
  margin-bottom .2em
ul
  margin-top .2em
  padding-left 1em
li
  list-style-type none
  &:before
    content '-'
    font-weight bold
    padding-right .8em
table
th
td
  border-collapse collapse
  border 1px solid

section > section
  padding-left 1em
  font-size 90%

.beginner
  opacity .6

.like
  color #ff8844