.ToggleDarkMode {
  cursor: pointer;
}

.Icon {
  --size: 2rem;
  width: var(--size);
  height: var(--size);

  background-color: var(--color-base);
  box-shadow: inset calc(var(--size) * .33) calc(var(--size) * -.25) 0 var(--color-main);
  border-radius: 100%;
  outline: none;
  transition: all 500ms;

  appearance: none;

  &.LightMode {
    --color: var(--color-main);
    --ray-size: calc(var(--size) * -.4);
    --offset-orthogonal: calc(var(--size) * .65);
    --offset-diagonal: calc(var(--size) * .45);

    transform: scale(.75);

    box-shadow:
      inset 0 0 0 var(--size) var(--color),
      calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size) var(--color),
      var(--offset-orthogonal) 0 0 var(--ray-size) var(--color),
      0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size) var(--color),
      0 var(--offset-orthogonal) 0 var(--ray-size) var(--color),
      calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size) var(--color),
      var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size) var(--color),
      calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size) var(--color),
      var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size) var(--color);
  }
}
