import clsx from "clsx";
import {
  JSX,
} from "solid-js";

import styles from "./{{properCase name}}.module.styl";

export const {{properCase name}} = (
): JSX.Element => {

  return (
    <div
      class={clsx(styles.{{properCase name}})}
    >
      
    </div>
  );
};
export default {{properCase name}};
