* {
  all: unset;
}
head {
  display: none;
}

html,
body,
main,
header,
footer,
section,
h1,
p,
ul {
  display: block;
}

code {
  white-space: pre;
}
pre {
  display: block;
  overflow-x: scroll;
  white-space: pre-wrap;
}
