// unset ->
:where(:not(input,
[draggable]))
  all unset

  box-sizing border-box

  display revert

a
  cursor pointer

html
body
  height 100%
// <- unset

:root
  background-color var(--base-color)
  color var(--main-color)
  touch-action none

em
  color var(--accent-color)
