// unset ->
*:not(input)
  all unset

  display revert
a
  cursor pointer

html
body
  height 100%
// <- unset

:root
  background-color var(--base-color)
  color var(--main-color)

em
  color var(--accent-color)
