* {
  all: unset;
}
head {
  display: none;
}

:root {
  font-family: "Noto Sans JP", serif;
}
html,
body,
main,
header,
footer,
section,
p {
  display: block;
}

$page-color: (
  start: #302b2bff,
  end: #080707ff,
);
$article-color: (
  start: #bebebe25,
  end: #4d4a4a77,
);
$page-start-color: map-get($map: $page-color, $key: "start");
$page-end-color: map-get($map: $page-color, $key: "end");
$article-start-color: map-get($map: $article-color, $key: "start");
$article-end-color: map-get($map: $article-color, $key: "end");

:root {
  background-color: $page-start-color;
}
html {
  min-height: 100vh;
  color: #eeebdd;
  background: linear-gradient(to bottom right, $page-start-color, $page-end-color);
}
body {
  --max-width: 48rem;
  --min-padding: 0.35rem;
  max-width: var(--max-width);
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to bottom right, $article-start-color, $article-end-color);
}
header {
  max-width: calc(var(--max-width) - 1.5rem * 2);
  height: 3rem;
  padding: 0 var(--min-padding);
  margin: 0 auto;
  nav li:not(:first-of-type):before {
    margin: 0 0.15rem;
    content: "> ";
  }
  a {
    color: #54a1ff;
  }
  a:visited {
    color: #eb4034;
  }
}
footer {
  height: 5rem;
  margin: 0 auto;
}
main {
  max-width: calc(var(--max-width) - 4rem * 2);
  padding: 0 var(--min-padding);
  margin: 0 auto;
  li::before {
    content: "- ";
    margin-left: .8rem;
  }
  a {
    color: #29a0f0;
  }
  a:visited {
    color: #f77b86;
  }
}

h1 {
  display: block;
  font-family: "M PLUS Rounded 1c", serif;
  font-size: 220%;
}
section {
  position: relative;
  margin-top: 1.75rem;
  section {
    margin-top: 1.4rem;
    margin-left: 0.55rem;
    font-size: 98%;
  }
  section:first-of-type {
    margin-top: 0;
  }
  h1 {
    font-size: 160%;
  }
  p {
    margin-bottom: 0.28rem;
    font-size: 100%;
    line-height: 1.55rem;
    text-indent: 0.75rem;
  }
}

section > section:first-of-type {
  counter-reset: section;
}
section > section > h1::before {
  content: counters(section, "-") ". ";
  counter-increment: section;
}
